image: docker:latest

stages:
  - prechecks
  - build
  - test
  - review
  - deploy

# Which infra to use: "gitlab", "google"
variables:
  INFRA: "google"

# Conditional includes
include:
  - local: "/infra/google/pipeline/google.gitlab-ci.yml"
    rules:
      - if: $INFRA == "google"

# Always include
include:
  - template: Jobs/SAST-IaC.gitlab-ci.yml

# Stages
markdownlint:
  stage: prechecks
  image: registry.gitlab.com/pipeline-components/markdownlint:latest
  script:
    - mdl --style all -i -r ~MD004,~MD009,~MD013,~MD025,~MD032,~MD041,~MD033,~MD002,~MD026,~MD035,~MD024,~MD034,~MD007 --warnings .

generate-deck:
  stage: build
  image:
    name: marpteam/marp-cli
    entrypoint: [""]
  script:
    - mkdir build/
    - export MARP_USER="$(id -u):$(id -g)"
    - /home/marp/.cli/docker-entrypoint -I src --html -o build
    - /home/marp/.cli/docker-entrypoint -I src --html --pdf --allow-local-files -o build
    - cp ./assets/favicon.ico ./build/
    - sed -i "s,##URL-PROD##,https:\/\/$APP_NAME-$BASE_DOMAIN_PROD/,g" build/*.html
    - sed -i "s,##URL-REVIEW##,https:\/\/$APP_NAME--$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA-$BASE_DOMAIN_REVIEW,g" build/*.html
  artifacts:
    paths:
      - "build/"

create-qr:
  stage: build
  image:
    name: leplusorg/qrcode
    entrypoint: [""]
  script:
    - qrencode -s 6 -l H -o "./assets/url-prod.png" "https://$APP_NAME-$BASE_DOMAIN_PROD"
    - qrencode -t ANSI -o "./assets/url-prod.txt" "https://$APP_NAME-$BASE_DOMAIN_PROD"
    - qrencode -s 6 -l H -o "./assets/url-review.png" "https://$APP_NAME--$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA-$BASE_DOMAIN_REVIEW"
    - qrencode -t ANSI -o "./assets/url-review.txt" "https://$APP_NAME--$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA-$BASE_DOMAIN_REVIEW"
    - qrencode -s 6 -l H -o "./assets/project-path.png" "CI_PROJECT_PATH"
  artifacts:
    paths:
      - "assets/"
