# You can override the included template(s) by including variable overrides
# SAST customization: https://docs.gitlab.com/ee/user/application_security/sast/#customizing-the-sast-settings
# Secret Detection customization: https://docs.gitlab.com/ee/user/application_security/secret_detection/#customizing-settings
# Dependency Scanning customization: https://docs.gitlab.com/ee/user/application_security/dependency_scanning/#customizing-the-dependency-scanning-settings
# Container Scanning customization: https://docs.gitlab.com/ee/user/application_security/container_scanning/#customizing-the-container-scanning-settings
# Note that environment variables can be set in several places
# See https://docs.gitlab.com/ee/ci/variables/#cicd-variable-precedence
# stages:
# - test
# sast:
#   stage: test
# include:
# - template: Security/SAST.gitlab-ci.yml

stages:
  - linting
  - build
  - review
  - deploy

cache:
  paths:
    - public
    - public/staging

markdownlint:
  stage: linting
  image: registry.gitlab.com/pipeline-components/markdownlint:latest
  only:
    changes:
      - "**/*.md"
      - "**/*.markdown"
  script:
    - mdl --style all -i -r ~MD004,~MD009,~MD013,~MD025,~MD032,~MD041 --warnings .

generate-deck:
  stage: build
  image:
    name: marpteam/marp-cli
    entrypoint: [""]
  script :
    - mkdir build/
    - export MARP_USER="$(id -u):$(id -g)"
    - /home/marp/.cli/docker-entrypoint -I . -o build/
    - /home/marp/.cli/docker-entrypoint -I . --pdf -o build/
  artifacts:
    paths:
      - "build/"
  dependencies:
    - markdownlint

staging:
  stage: review
  script:
    # Just move the pages to the public dir
    #- mv build public
    #- cp -r assets public/
    - mkdir -p public
    - mv build public/$CI_PIPELINE_ID
    - cp -r -v assets public/$CI_PIPELINE_ID/
  artifacts:
    paths:
      - public
  dependencies:
    - generate-deck
  environment:
    name: Staging
    url: "https://$CI_PROJECT_ROOT_NAMESPACE.gitlab.io/$CI_PROJECT_NAMESPACE/$CI_PROJECT_NAME/slides.html"

production:
  stage: deploy
  script:
    # Just move the pages to the public dir
    #- mv build public
    #- cp -r assets public/
    - mv build public/
    - cp -r -v assets public/
  artifacts:
    paths:
      - public
  dependencies:
    - generate-deck
  when: manual
  allow_failure: false


