image: docker:latest

stages:
  - linting-slides
  - build-slides
  - build-container
  - review
  - deploy

build-container:
  stage: build-container
  image: google/cloud-sdk
  services:
    - docker:dind
  script:
    - echo $GCP_SERVICE_KEY__TEST > gcloud-service-key.json # Google Cloud service accounts
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID__TEST
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-build-container.yaml --substitutions=BRANCH_NAME="$CI_COMMIT_BRANCH",TRIGGER_NAME="build-review" /tmp/source.tgz
#    - gcloud builds submit . --config=cloudbuild-build-container.yaml
  dependencies:
    - generate-deck

review:
  stage: review
  image: google/cloud-sdk
  script:
    - echo $GCP_SERVICE_KEY__TEST > gcloud-service-key.json # Google Cloud service accounts
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID__TEST
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-run-review.yaml --substitutions=BRANCH_NAME="$CI_COMMIT_BRANCH" --substitutions=TRIGGER_NAME="review" /tmp/source.tgz
  environment:
    name: review/$GCP_PROJECT_ID__TEST--paas-app--$CI_COMMIT_BRANCH
    url: https://$APP_NAME--$CI_COMMIT_BRANCH-$BASE_DOMAIN_REVIEW
    # https://paas-app--10-create-running-demo-aw26i256sa-ez.a.run.app    
#    on_stop: stop_review
  only:
    - branches
  except:
    - master

stop_review:
  stage: review
  script:
    - echo $GCP_SERVICE_KEY__TEST > gcloud-service-key.json # Google Cloud service accounts
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID__TEST
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-stop-review.yaml --substitutions=BRANCH_NAME="$CI_COMMIT_BRANCH" --substitutions=TRIGGER_NAME="stop_review" /tmp/source.tgz
  variables:
    GIT_STRATEGY: none
  when: manual
  environment:
    name: review/$GCP_PROJECT_ID__TEST--paas-app--$CI_COMMIT_BRANCH
    action: stop



deploy-prod:
  stage: deploy
  image: google/cloud-sdk
  services:
    - docker:dind
  script:
    - echo $GCP_SERVICE_KEY > gcloud-service-key.json # Google Cloud service accounts
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-deploy-prod.yaml /tmp/source.tgz
#    - gcloud builds submit . --config=cloudbuild-deploy-prod.yaml
  when: manual


markdownlint:
  stage: linting-slides
  image: registry.gitlab.com/pipeline-components/markdownlint:latest
#  only:
#    changes:
#      - "**/*.md"
#      - "**/*.markdown"
  script:
    - mdl --style all -i -r ~MD004,~MD009,~MD013,~MD025,~MD032,~MD041,~MD033,~MD022 --warnings .

generate-deck:
  stage: build-slides
  image:
    name: marpteam/marp-cli
    entrypoint: [""]
  script :
    - mkdir build/
    - export MARP_USER="$(id -u):$(id -g)"
    - /home/marp/.cli/docker-entrypoint -I src --html -o build
    - /home/marp/.cli/docker-entrypoint -I src --html --pdf --allow-local-files -o build
  artifacts:
    paths:
      - "build/"
  dependencies:
    - markdownlint

# pages:
#   stage: deploy
#   script:
#     # Just move the pages to the public dir
#     - mv build public
#     - cp -r assets public/
#   artifacts:
#     paths:
#       - public
#   dependencies:
#     - generate-deck
