image: docker:latest

stages:
  - linting-slides
  - build-slides
  - build-container
  - review
  - deploy

build-container:
  stage: build-container
  image: google/cloud-sdk
  only:
    changes:
      - "**/*.md"
      - "**/*.markdown"
      - "assets/*"
  services:
    - docker:dind
  script:
    - echo $GCP_SERVICE_KEY__TEST > gcloud-service-key.json
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID__TEST
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-build-container.yaml --substitutions=BRANCH_NAME="$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA",TRIGGER_NAME="build-review" /tmp/source.tgz
  dependencies:
    - generate-deck

review:
  stage: review
  image: google/cloud-sdk
  script:
    - echo $GCP_SERVICE_KEY__TEST > gcloud-service-key.json
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID__TEST
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-run-review.yaml --substitutions=BRANCH_NAME="$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA",TRIGGER_NAME="review" /tmp/source.tgz
  environment:
    name: review/$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA
    url: https://$APP_NAME--$CI_COMMIT_REF_NAME-$BASE_DOMAIN_REVIEW
    on_stop: stop_review
    auto_stop_in: 1 weeks
  only:
    - branches
  except:
    - master

stop_review:
  stage: review
  image: google/cloud-sdk
  script:
    - echo $GCP_SERVICE_KEY__TEST > gcloud-service-key.json
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID__TEST
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-stop-review.yaml --substitutions=BRANCH_NAME="$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA",TRIGGER_NAME="stop_review" /tmp/source.tgz
  when: manual
  environment:
    name: review/$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA
    action: stop

deploy-prod:
  stage: deploy
  image: google/cloud-sdk
  services:
    - docker:dind
  script:
    - echo $GCP_SERVICE_KEY > gcloud-service-key.json
    - gcloud auth activate-service-account --key-file gcloud-service-key.json
    - gcloud config set project $GCP_PROJECT_ID
    - tar -zcf /tmp/source.tgz . && gcloud builds submit --config=cloudbuild-deploy-prod.yaml /tmp/source.tgz
  when: manual

markdownlint:
  stage: linting-slides
  image: registry.gitlab.com/pipeline-components/markdownlint:latest
  only:
    changes:
      - "**/*.md"
      - "**/*.markdown"
  script:
    - mdl --style all -i -r ~MD004,~MD009,~MD013,~MD025,~MD032,~MD041,~MD033,~MD022 --warnings .

generate-deck:
  stage: build-slides
  image:
    name: marpteam/marp-cli
    entrypoint: [""]
  only:
    changes:
      - "**/*.md"
      - "**/*.markdown"
      - "assets/*"
  script:
    - mkdir build/
    - export MARP_USER="$(id -u):$(id -g)"
    - /home/marp/.cli/docker-entrypoint -I src --html -o build
    - /home/marp/.cli/docker-entrypoint -I src --html --pdf --allow-local-files -o build
  artifacts:
    paths:
      - "build/"
  dependencies:
    - markdownlint
