variables:
  URL_PROD: "$CI_PAGES_URL/build/index.html"
  URL_AI_PROD: "$CI_PAGES_URL/build/ai.html"
  URL_PAAS_PROD: "$CI_PAGES_URL/build/paas.html"
  URL_WHY_PROD: "$CI_PAGES_URL/build/why.html"
  URL_OPERATOR_PROD:  "$CI_PAGES_URL/build/operator.html"
  URL_REVIEW: "https://${CI_PROJECT_ROOT_NAMESPACE}.gitlab.io/-/${CI_PROJECT_NAME}/${CI_PROJECT_NAME}/-/jobs/${CI_JOB_ID}/artifacts/public/build/index.html"
  # Use the review url below, if you are outside the original demo-paas-project (e. g. if you have forked the project).
  # You may have to further adjust if you are using GitLab self-managed.
  # URL_REVIEW: "https://${CI_PROJECT_ROOT_NAMESPACE}.gitlab.io/-/${CI_PROJECT_NAME}/-/jobs/${CI_JOB_ID}/artifacts/public/build/index.html"

pages:review:
  stage: review
  script:
    # Create an folder for this commit and copy over content
    - mkdir -p "public/build"
    - cp -vr "build" "public/"
    # - cp -vr "assets" "public/"
    - echo "$URL_REVIEW"
    - cat ./build/assets/url-review.txt
  environment:
    name: review-gitlab
    # name: review/$CI_COMMIT_REF_NAME--$CI_COMMIT_SHORT_SHA
    url: $URL_REVIEW
    # on_stop: review:stop
    # auto_stop_in: 1 hours
  artifacts:
    paths:
      - public
  needs:
    - job: generate-deck
    - job: create-qr
  only:
    - branches
  except:
    - master

pages:
  stage: deploy
  script:
    # Create an folder for this commit and copy over content
    - mkdir -p "public/build"
    - cp -vr "build" "public/"
    - cp -vr "assets" "public/"
    - echo "$URL_PROD"
    - cat ./build/assets/url-prod.txt
  environment:
    name: production-gitlab
    url: $URL_PROD
  when: manual
  artifacts:
    paths:
      - public
  needs:
    - job: generate-deck
    - job: create-qr
