/* @theme gitlab-theme */

@import 'gaia';

@font-face {
    font-family: "Inter";
    src: url('GitLabSans.woff2');
}

section {
    background-color: #171321;
    font-family: "Inter";
    color: #fff;
    font-size: 24px;
}

a {
    color: #a989f5;
}