/* @theme gitlab-theme */

@import 'gaia';

@font-face {
    font-family: "Inter";
    src: url('../assets/GitLabSans.woff2');
}

:root {
    --gitlab-purple: #a989f5;
    --gitlab-dark: #171321;
}

section {
    background-color: var(--gitlab-dark);
    font-family: "Inter";
    color: white;
    font-size: 20px;
}

footer {
    padding: 70px
}

a {
    color: var(--gitlab-purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 2.5em;
}

.avatar {
    border-radius: 50%;
    border: 4px solid var(--gitlab-purple);
    height: 150px;
}