/* @theme gitlab-theme */

@import 'gaia';

@font-face {
    font-family: "Inter";
    src: url('../assets/GitLabSans.woff2');
}

section {
    background-color: #171321;
    font-family: "Inter";
    color: #fff;
    font-size: 20px;
}

footer {
    padding: 70px
}

a {
    color: #a989f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}