name: Mein erster Workflow

on: [push]

env:
  APP_NAME: 'paas-demo'
  PAAS_TITLE: 'GitLab PaaS Demo'
  WHY_TITLE: 'Why GitLab?'
  AI_TITLE: 'GitLab Duo AI Introduction and Demo'
  OPERATORS_TITLE: 'GitLab k8s Operators'
  COMPLIANCE_TITLE: 'Achieving Continuous Compliance with GitLab'
  SUBTITLE: 'Blue Reply, 2023-11-10'
  # URLs
  URL_PROJ: 'https://github.com/cleygraf/paas'
  URL_PROD: 'http://gitlab-prod-lb-218443987.eu-central-1.elb.amazonaws.com'
  URL_REVIEW: 'http://gitlab-review-lb-1662808248.eu-central-1.elb.amazonaws.com'
  URL_AI_PROD: 'http://gitlab-review-lb-1662808248.eu-central-1.elb.amazonaws.com/ai.html'
  URL_PAAS_PROD: 'http://gitlab-review-lb-1662808248.eu-central-1.elb.amazonaws.com/paas.html'
  URL_WHY_PROD: 'http://gitlab-review-lb-1662808248.eu-central-1.elb.amazonaws.com/why.html'
  URL_OPERATOR_PROD: 'http://gitlab-review-lb-1662808248.eu-central-1.elb.amazonaws.com/operator.html'

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    container: registry.gitlab.com/pipeline-components/markdownlint:latest

    steps:
      - name: Run markdownlint
        run: mdl --style all -i -r ~MD004,~MD009,~MD013,~MD025,~MD032,~MD041,~MD033,~MD002,~MD026,~MD035,~MD024,~MD034,~MD007,~MD031,~MD029,~MD036 --warnings .

  create-qr:
    runs-on: ubuntu-latest
    container: leplusorg/qrcode
    steps:
      - run: if [ ! -d ./build/assets ]; then mkdir -p ./build/assets; fi
      - run: qrencode -s 6 -l H -o "./build/assets/url-proj.png" "$URL_PROJ"
      - run: qrencode -s 6 -l H -o "./build/assets/url-prod.png" "$URL_PROD"
      - run: qrencode -t ANSI -o "./build/assets/url-prod.txt" "$URL_PROD"
      - run: qrencode -s 6 -l H -o "./build/assets/url-ai-prod.png" "$URL_AI_PROD"
      - run: qrencode -s 6 -l H -o "./build/assets/url-why-prod.png" "$URL_WHY_PROD"
      - run: qrencode -s 6 -l H -o "./build/assets/url-operator-prod.png" "$URL_OPERATOR_PROD"
      - run: qrencode -t ANSI -o "./build/assets/url-ai-prod.txt" "$URL_AI_PROD"
      - run: qrencode -s 6 -l H -o "./build/assets/url-review.png" "$URL_REVIEW"
      - run: qrencode -t ANSI -o "./build/assets/url-review.txt" "$URL_REVIEW"
      - run: qrencode -s 6 -l H -o "./build/assets/project-path.png" "$URL_PROJ"
      - run: qrencode -t ANSI -o "./build/assets/project-path.txt" "$URL_PROJ"

      - name: Upload qrcodes
        uses: actions/upload-artifact@v3
        with:
          name: qrcodes
          path: ./build

  generate-deck:
    runs-on: ubuntu-latest
    container:
      image: marpteam/marp-clie
      credentials:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
      - name: Download qrcodes
        uses: actions/download-artifact@v3
        with:
          name: qrcodes

      - run: sed -i "s|##PAAS_TITLE##|${PAAS_TITLE}|g" src/*.md
      - run: sed -i "s|##WHY_TITLE##|${WHY_TITLE}|g" src/*.md
      - run: sed -i "s|##AI_TITLE##|${AI_TITLE}|g" src/*.md
      - run: sed -i "s|##OPERATORS_TITLE##|${OPERATORS_TITLE}|g" src/*.md
      - run: sed -i "s|##COMPLIANCE_TITLE##|${COMPLIANCE_TITLE}|g" src/*.md
      - run: sed -i "s|##SUBTITLE##|${SUBTITLE}|g" src/*.md
      - run: sed -i "s,##URL_PROD##,$URL_PROD,g" src/*.md
      - run: sed -i "s,##CI_PROJECT_PATH##,$URL_PROJ,g" src/*.md
      - run: sed -i "s,##URL_PROJ##,$URL_PROJ,g" src/*.md
      - run: sed -i "s,##URL_AI_PROD##,$URL_AI_PROD,g" src/*.md
      - run: sed -i "s,##URL_WHY_PROD##,$URL_WHY_PROD,g" src/*.md
      - run: sed -i "s,##URL_OPERATOR_PROD##,$URL_OPERATOR_PROD,g" src/*.md
      - run: sed -i "s,##URL_REVIEW##,$URL_REVIEW,g" src/*.md
      - run: export MARP_USER="$(id -u):$(id -g)"
      - run: cp -r ./build/assets/* ./src/assets/
      - run: /home/marp/.cli/docker-entrypoint -I src --html -o build
      - run: /home/marp/.cli/docker-entrypoint -I src --html --pdf --allow-local-files -o build || echo "PDF creation failed!"
      - run: cp ./src/assets/favicon.ico ./build/
      - run: cp -r ./src/assets ./build/

      - name: Upload slides
        uses: actions/upload-artifact@v3
        with:
          name: slides
          path: ./build
